{% extends 'vortaro/base.html' %}

{% block content %}
<section>
    <p>Placeholder text. This will be the landing page.</p>
    <p>
        To be done yet:
        <ul>
            <li>implement search</li>
            <li>work out best link <scheme></scheme></li>
            <li>modify navbar</li>
            <li>semantically fix up html</li>
            <li>style pages</li>
            <li>add Ottoman meanings to the database and display them</li>
        </ul>
    </p>
</section>

<form class="form-inline my-2 my-lg-0" action="{% url 'index' %}">    <input class="form-control mr-sm-2" type="search"   placeholder="Search" aria-label="Search" name="search">    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button></form>

    <article>
        {% for headword in headwords %}
            <h1>{{headword.madde}}</h1>
                <p>
                    Meaning:
                        <ol>
                            {% for meaning in headword.anlam_set.all %}
                                <li>{{meaning.anlam}}</li>
                            {% endfor %}
                        </ol>
                    Pronunciation: {{headword.telaffuz}}
                </p>
        {% endfor %}
    </article>

{% endblock %}