{% extends 'vortaro/base.html' %}

{% block content %}

{% if headwords %}
    <section>
    {% for headword in headwords %}
        <h3><a href="{% url 'madde' query_term=headword %}">{{headword.madde}}</a></h3>
            <p>
                Meaning:
                <ol>
                    {% for meaning in headword.anlam_set.all %}
                        {%if "►" in meaning.anlam %}
                            <li><a href="{% url 'madde' query_term=meaning.anlam|slice:"2:" %}">{{meaning.anlam}}</a></li>
                        {% else %}
                            <li>{{meaning.anlam}}</li>
                        {% endif %}
                    {% endfor %}
                </ol>
                {% if headword.telaffuz %}
                    Pronunciation note: {{headword.telaffuz}}
                {% endif %}
            </p>
    {% empty %}
        <p>Your search "{{query_term}}" did not return any results. Please try a different term.</p>
    {% endfor %}
    </section>
{% endif %}

{% if err_msg %}
    <p>{{err_msg}}</p>
{% endif %}

{% endblock %}