{% extends 'vortaro/base.html' %}

{% block content %}
<section>
    <p>Placeholder text. This will be the landing page.</p>
    <p>
        To be done yet:
        <ul>
            <li>implement search</li>
            <li>work out best link <scheme></scheme></li>
            <li>modify navbar</li>
            <li>semantically fix up html</li>
            <li>style pages</li>
            <li>add Ottoman meanings to the database and display them</li>
        </ul>
    </p>
</section>
{% endblock %}