{% extends 'vortaro/base.html' %}

{% block content %}
    <article>
        {% for headword in headwords %}
            <h3>
                {% if headword.kac > 0 %}
                    {{headword.kac}}. {{headword.madde}}
                {% else %}
                    {{headword.madde}}
                {% endif %}
            </h3>
                <p>
                    Meaning:
                    <ol>
                        {% for meaning in headword.anlam_set.all %}
                            {%if "►" in meaning.anlam %}
                                <li><a href="{% url 'madde' query_term=meaning.anlam|slice:"2:" %}">{{meaning.anlam}}</a></li>
                            {% else %}
                                <li>{{meaning.anlam}}</li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                    {% if headword.telaffuz %}
                        Pronunciation note: {{headword.telaffuz}}
                    {% endif %}
                </p>
        {% endfor %}
    </article>
{% endblock %}